/* 
    Document   : style
    Created on : 17-mag-2013, 16.15.49
    Author     : Alessandro
    Description:
        Just a css for the example page of cookies-box
*/
body{
  
background: #fff;  
}

